header {
  position: relative;
  background-color: black;
  min-height: 20rem;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.title {
  color: white;
  text-decoration: none;
}
